<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>


{{>navbar}} 


 <!-- main header  -->
 <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <!-- left side div -->
        
            <div class="col-md-12 col-12 main_header_right align-items-center">
             <figure class="errimg">
                 <img src="images/404.webp" alt="naresh" class="img-fluid" title="naresh borle">
             </figure>
         
                <p>Welcome to Naresh Borle World</p> 
                <h1>{{errormessage }}</h1>
                <a href="/"><button>Go back</button></a>
            </div>
            
            <!-- right side div -->
        </div>
           </div>
          </div>

      </div>
     </div>
  </div>

  <!-- footer code -->
 {{>footer}}
</body>
</html> 