<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
 

{{>navbar}}



 <!-- main header  -->
 <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <!-- left side div -->
          <div class="main_content">
            <form    class="temp_form">
                <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </form>
          </div> 

          <div class="tempInformation">
            <div class="top_layer">
                <p id="day">Tuesday</p>
                <p id="today_data">18 july</p>
            </div>
            <div class="main_layer">
                <p id="city_name">get output here</p>
                <div class="middle_layer data_hide"> 
                     <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                     <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                </div>
            </div>
          </div> 

      </div>
     </div>
  </div>

  <!-- footer code -->
  {{>footer}} 

  <script src="js/main.js"></script>

  <script>


    const getCurrentDay = ()=>{
var weekday = new Array(7);
weekday[0] = "Sun";
weekday[1] = "Mon";
weekday[2] = "Tues";
weekday[3] = "Wed";
weekday[4] = "Thur";
weekday[5] = "Fri";
weekday[6] = "Sat";

    let currentTime = new Date();
 days = weekday[currentTime.getDay()];
// returning day
let day = document.getElementById('day')
 day.innerText = days;
};
getCurrentDay();



const getCurrentTime = () => {

var months = [
"Jan",
"Feb", 
"Mar",
"Apr",
"May",
"June",
"July",
"Aug",
"Supt",
"Oct",
"Nov",
"Dec"
]

    var now = new Date();
    var month = months[now.getMonth()];
    //for date
    var date = now.getDate();
    let today_data = document.getElementById('today_data')

// returning month date hour min Am/Pm
return `${month}${date}`;

};

// calling functions and replacing it through inner html ( ye jo current date hai vo sedha date id ko refer karti hai jo hamane uper getelememtbyid se get ki hai html me se)

today_data.innerHTML = getCurrentTime();
  </script>
</body> 
</html> 